{% extends 'DashboardTemplate.html.twig' %}

{% block title %}
    Todo List
{% endblock %}

{% block pageTitle %}
    Todo List
{% endblock %}

{% block body %}

    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert alert-success m-4">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger m-4">
            {{ msg }}
        </div>
    {% endfor %}

    <h1 style="text-align: center; margin: 24px">To do List : </h1>

    <ul class="list-group">
        {% for key,element in todos %}
            <li class="list-group-item list-group-item-primary m-1">
                <div class="fw-bold">{{ key }}</div>
                {{ element }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}